html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.body_bg {
  background-color: #222d32;
}
.panel-down {
  margin-top: 100px;
  text-align: center;
}
.panel-down .panel-content {
  font-size: 24px;
}
